.justify-content-right {
    justify-content: right;
}

.editable {
    cursor: pointer;
    background-color: aqua;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.inline {
    display: inline;
}