{% extends "base.html" %}

{% block content %}

<div class="justify-content-center m-2">
    <h1>{{ budget.name }}</h1>
    <p>{{ budget.description }}</p>
    <h3>{{ budget.start_date }} - {{ budget.end_date }}</h3>

    <table class="table table-secondary">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Account</th>
                <th scope="col">Category</th>
                <th scope="col">Budget</th>
                <th scope="col">Actual</th>
                <th scope="col">Difference</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in budget_items %}
            <tr id="budget-item-{{ item.id }}-row">
                <td id="budget-item-{{ item.id }}-name">{{ item.name }}</td>
                <td id="budget-item-{{ item.id }}-account">{{ item.account_id }}</td>
                <td id="budget-item-{{ item.id }}-category">{{ item.category_id }}</td>
                <td id="budget-item-{{ item.id }}-budget-amount">${{  item.budget_amount }}</td>
                <td id="budget-item-{{ item.id }}-actual-amount">${{ item.actual_amount }}</td>
                <td id="budget-item-{{ item.id }}-delta">${{ item.delta }}</td>
                <td id="delete-item-{{ item.id }}-button">
                    <button type="button" class="btn btn-danger" onclick="deleteBudgetItem(`{{ item.id }}`)"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
            <tr id="add-budget-item-row">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in add_item_form %}
                        <td id="{{ field.id }}">{{ field }}</td>
                    {% endfor %}
                    <!-- <td id="add-budget-name"><input type="text" class="form-control" placeholder="Add a budget item..."></td>
                    <td id="add-budget-account"><input type="text" class="form-control"></td>
                    <td id="add-budget-category"><input type="text" class="form-control"></td>
                    <td id="add-budget-budget-amount"><input type="text" class="form-control"></td>
                    <td id="add-budget-actual-amount"><input type="text" class="form-control"></td> -->
                    <td></td>
                    <td id="add-budget-delta"><button type="submit" class="btn btn-success">Add</button></td>
                    
                </form>
            </tr>
            <tr id="budget-totals-row">
                <td>Totals</td>
                <td></td>
                <td></td>
                <td>${{ budget.expected_amount }}</td>
                <td>${{ budget.actual_amount }}</td>
                <td>${{ budget.delta }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    {% load static %}
    <script src="{% static 'budgets/budgets.js' %}"></script>
</div>

{% endblock %}